<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.edu.utas.che2.cometbot">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".City"
            android:label="@string/title_activity_city"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Coverpage"
            android:label="@string/title_activity_coverpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Onboarding_one" />
        <activity android:name=".Onboarding_two" />
        <activity android:name=".Onboarding_three" />
        <activity android:name=".Startpage" />
        <activity android:name=".Signin" />
        <activity android:name=".Register" />
        <activity android:name=".Reset_password" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>